BODY {
	/*background-image:url("../assets/Background.png");
	background-color:red;
	background-repeat:tile;
	background-position: top center;*/
}

CANVAS{
    background-image:url("../assets/Background.png");
    background-repeat:tile;
    border-style:solid;
    border-color: darkred;
    border-width: 5px;
    float: left;
}

.MenuContext{
	display:none;
}
<<<<<<< HEAD
.Active{
	display:block;
=======

h4{
    margin: 3px;
}


#upgrade{
    height:50px;
    padding: 0px;
}

#basic{
    background-image:url("../assets/proj_tower_1.png");
    background-repeat: no-repeat;
    background-position: left;
}
#bomb{
    background-image:url("../assets/bomb_tower_1.png");
    background-repeat: no-repeat;
    background-position: left;
}
#air{
    background-image:url("../assets/air_tower_1.png");
    background-repeat: no-repeat;
    background-position: left;
}
#slow{
    background-image:url("../assets/slow_tower_1.png");
    background-repeat: no-repeat;
    background-position: left;
}

#about{
    height:20px;
    width: 50px;
    margin-right: 10px;
    font-size: 12px;
>>>>>>> 4ee1b5cf7b00c96ee18464b1a983b3d42a048c58
}

#audio{
    visibility: visible;
}

button:hover{
    background-color: #600000
}

button:active{
    background-color: #400000
}

button:disabled{
    background-color: #603030;
    border-color: darkred;
}

button:disabled:hover{
    background-color: #603030;
    background-image: none;
}
<<<<<<< HEAD
=======

.MenuContext{
	display:none;
}
.Active{
	display:block !important;
}
>>>>>>> 4ee1b5cf7b00c96ee18464b1a983b3d42a048c58
